<header class="u-clearfix u-header u-valign-middle-xl u-header" id="sec-49b5">

    <div class="u-container-style u-enable-responsive u-expanded-width u-group u-group-1">
        <div class="u-container-layout">
            <a href="@Url.Action("Index", "Home")" data-page-id="8320869" class="u-image u-logo u-image-1" data-image-width="300" data-image-height="120" title="MG Consultores">
                <img src="../images/logo.png" class="u-logo-image u-logo-image-1" data-image-width="300">

            </a>
        </div>
    </div><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-grey-50 u-text-hover-palette-2-base" href="#" style="color: rgb(128, 128, 128) !important; height: 24px;">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 515.555 515.555" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f665"></use></svg>
                <svg class="u-svg-content" viewBox="0 0 515.555 515.555" id="svg-f665"><path d="m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"></path><path d="m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"></path><path d="m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0"></path></svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                <li class="u-nav-item">
                    <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="@Url.Action("Index", "Home")" style="padding: 6px 0px;">Inicio</a>
                </li>
                <li class="u-nav-item">
                    <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="#" style="padding: 6px 0px;">Servicios</a><div class="u-nav-popup">
                        <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("Consultoria", "Home")">Consultoria</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("DesarrolloSoftware", "Home")">Desarrollo de Software</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("WebDesign", "Home")">Diseño de Paginas Web</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("AplicacionesMoviles", "Home")">Aplicaciones Moviles</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("TiendasVirtuales", "Home")">Tiendas Virtuales</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("IntranetExtranet", "Home")">Intranet y Extranet</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("HostingDominio", "Home")">Hosting y Dominio</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("SoporteMantenimiento", "Home")">Soporte y Mantenimiento</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="u-nav-item">
                    <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="#" style="padding: 6px 0px;">Compañía</a><div class="u-nav-popup">
                        <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-3">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("Nosotros", "Home")">Nosotros</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("ComoTrabajamos", "Home")">Como Trabajamos</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("CalidadGarantia", "Home")">Calidad y Garantía</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link u-white" href="@Url.Action("Cultura", "Home")">Cultura</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="u-nav-item">
                    <a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" href="@Url.Action("Contacto", "Home")" style="padding: 6px 0px;">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Index", "Home")" style="padding: 6px 0px;">Inicio</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="#" style="padding: 6px 0px;">Servicios</a><div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-5">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("Consultoria", "Home")">Consultoria</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("DesarrolloSoftware", "Home")">Desarrollo de Software</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("WebDesign", "Home")">Diseño de Paginas Web</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("AplicacionesMoviles", "Home")">Aplicaciones Moviles</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("TiendasVirtuales", "Home")">Tiendas Virtuales</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("IntranetExtranet", "Home")">Intranet y Extranet</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("HostingDominio", "Home")">Hosting y Dominio</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("SoporteMantenimiento", "Home")">Soporte y Mantenimiento</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="#" style="padding: 6px 0px;">Compañía</a><div class="u-nav-popup">
                                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-6">
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("Nosotros", "Home")">Nosotros</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("ComoTrabajamos", "Home")">Como Trabajamos</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("CalidadGarantia", "Home")">Calidad y Garantía</a>
                                    </li>
                                    <li class="u-nav-item">
                                        <a class="u-button-style u-nav-link" href="@Url.Action("Cultura", "Home")">Cultura</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" href="@Url.Action("Contacto", "Home")" style="padding: 6px 0px;">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</header>
