<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Diseño de Paginas Web</title>
    

    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Diseño-de-Paginas-Web.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>




    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Diseño de Paginas Web">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-3933">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Diseño &amp; Desarrollo de Paginas Web</h2>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row" style="">
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="1437" data-image-height="1072" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-col" style="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-40 u-white u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                                    <div class="u-container-layout u-container-layout-2">
                                        <h2 class="u-text u-text-2">
                                            Creamos una&nbsp;<b>Página Web</b>&nbsp;exitosa.&nbsp;
                                        </h2>
                                        <p class="u-text u-text-3">En MG Consultores creamos para usted una web moderna que genere prospectos y ventas, para lograr este objetivo, aplicaremos nuestra fórmula de éxito 100% probada.</p>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    <div class="u-container-layout u-container-layout-3">
                                        <h2 class="u-text u-text-4">Diseño Web</h2>
                                        <p class="u-text u-text-5">
                                            Diseño Moderno Html5 + Css3 Responsive&nbsp;<br>Velocidad Rápida<br>Construcción de Links<br>Artículos<br>Notas de Prensa<br>Editorial<br>Social MediaFacebook<br>Twitter<br>Linked In<br>Google
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-34fd">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">Nuestros Servicios</h2>
            <p class="u-text u-text-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                Con experiencia en el diseño, desarrollo, implementación, calidad y soporte desde el 2009, Nuestro servicio de&nbsp;<b>consultoría en tecnologías de información</b>&nbsp;ha sido concebido con un profundo entendimiento de diferentes industrias, negocios y los requerimientos funcionales así como también los ambiguos matices de los flujos de negocios. Ofrecemos un avanzado y comprensivo servicio de Consultoría IT de tecnologías empresarial que cubre todo el ciclo de desarrollo e implementación del producto, asegurando el retorno de su inversión y el éxito de su proyecto.
            </p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <h4 class="u-text u-text-3">Web Corporativa</h4>
                            <p class="u-text u-text-4">Tiempo de desarrollo: 2 semanas</p>
                            <a href="@Url.Action("PaginaWebCorporativa", "Home")" data-page-id="80505621" class="u-align-center u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">ver detalles</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <h4 class="u-text u-text-5">Tiendas Virtuales</h4>
                            <p class="u-text u-text-6">Tiempo de desarrollo: 2 semanas</p>
                            <a href="@Url.Action("TiendasVirtuales", "Home")" data-page-id="2012116857" class="u-align-center u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">ver detalles</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h4 class="u-text u-text-7">Aplicaciones Web</h4>
                            <p class="u-text u-text-8">Tiempo de desarrollo: a medida</p>
                            <a href="@Url.Action("AplicacionesWeb", "Home")" data-page-id="309789579" class="u-align-center u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-3">ver detalles</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <h4 class="u-text u-text-9">Web Catálogo</h4>
                            <p class="u-text u-text-10">Tiempo de desarrollo: 2 semanas</p>
                            <a href="@Url.Action("PaginaWebCatalogo", "Home")" data-page-id="57595705" class="u-align-center u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-4">ver detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="sec-7393">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                Preguntas Frecu<span style="font-weight: 700;"></span>entes
            </h2>
            <div class="u-accordion u-spacing-2 u-accordion-1">
                <div class="u-accordion-item">
                    <a class="active u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
                        <span class="u-accordion-link-text">¿Qué tipo de Página Web debo elegir?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3277"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3277">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                        <div class="u-container-layout u-valign-top u-container-layout-1">
                            <p class="u-text u-text-2">Una Página Web Corporativa</p>
                            <p class="u-small-text u-text u-text-variant u-text-3">
                                Si su empresa requiere una página web simple para mostrar los productos y servicios que ofrece, la historia, misión y visión, su personal, formulario decontacto entonces la mejor opción para usted.<br>
                            </p>
                            <p class="u-text u-text-4">Una Página Web con Carrito de compras&nbsp;</p>
                            <p class="u-small-text u-text u-text-variant u-text-5">
                                Le permitirá procesar pagos online al cliente, al dueño de esta tener la posibilidad de actualizar la web el mismo sin mucho conocimiento técnico, almacenar estadísticas de los clientes que hacen compras en su web, entre otras más ventajas… entonces la opción perfecta es una Página Web + Carrito de compras.<br>
                            </p>
                            <p class="u-text u-text-6">Página Web catálogo</p>
                            <p class="u-small-text u-text u-text-variant u-text-7">Si usted desea solo mostrar sus productos sin la posibilidad de ofrecer pagos en linea, entonces la solución sugerida es una Página Web catálogo.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-2" id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Qué Gestor de contenido usan para las Páginas Web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9e64"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-9e64">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <p class="u-small-text u-text u-text-variant u-text-8">
                                Para crear&nbsp;<b>páginas webs administrables</b>&nbsp;usamos la plataforma WordPress, Sharepoint, entre otros, como gestores de contenidos, la tecnología esta basada en .net, php y mysql, html5 y css3.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-3" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Qué plan de Página Web debo elegir?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7026"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-7026">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <p class="u-small-text u-text u-text-variant u-text-9">MG Consultores le ofrece múltiples planes que se ajustan a una diversidad de necesidades de negocios en línea. Estos planes varían según el número de distintos opciones que desea agregar. Te recomendamos seleccionar el el mejor plan de Diseño web con base en tu estrategia de marketing digital que hayas establecido para poder tener los mejores resultados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="Diseño-de-Paginas-Web.html#sec-3933" data-page-id="260255526" class="u-btn u-button-style u-none u-text-palette-1-light-3 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                &nbsp;<span class="u-icon u-text-grey-50 u-icon-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                    <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <g>
                            <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                            <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                        </g>
                    </svg><img>
                </span> &nbsp;
            </a>
        </div>
    </section>

</body>
</html>